In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A": [1, 2]})

In [3]:
df

   A
0  1
1  2

In [4]:
df.flags

In [5]:
df.flags.allows_duplicate_labels

True

In [6]:
df.flags["allows_duplicate_labels"]

True